* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  margin: 10px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

.container {
  display: grid;
  gap: 8px;
}

.header {
  display: grid;
  grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2';
  gap: 3px;
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero > * {
  /* '> *' cari semua elemen di dalam class hero */

  display: none;
}

.features {
  color: #fff;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 150px;
}

.features-1 {
  grid-area: feature-1;
  background-image: url(img/1.jpg);
  background-size: cover;
}

.features-2 {
  grid-area: feature-2;
  background-image: url(img/2.jpg);
  background-size: cover;
}

.features .nama {
  font-size: 2em;
  font-weight: 200;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  color: #333;
  font-size: 1.3em;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu ul li a {
  text-decoration: none;
  background-color: black;
  display: block;
  color: #fff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.menu .hamburger {
  display: none;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.service {
  background-color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 2em;
}

.service p {
  font-weight: 200;
  letter-spacing: 1px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 50px;
  gap: 10px;
}

.gallery h3 {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    color: white;
    margin-bottom: 10px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .menu {
    order: -1;
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content: space-between;
  }

  .menu .brand {
    display: block;
  }

  .menu .hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 10;
    transition: 0.5s;
  }

  .menu .hamburger.switch {
    color: #fff;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(200%);
    top: 0;
    gap: 0;
    width: 90%;
    transition: 0.8s;
    opacity: 0;
  }

  .menu ul.active {
    transform: translateX(9%);
    opacity: 1;
  }

  .menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 10vh;
    transition: 0.3s;
  }

  .menu ul li a:hover {
    font-size: 1.3em;
  }
}

@media (max-width: 600px) {
  .header {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }
}
